USE [ICOERP_QA]
GO
/****** Object:  Table [dbo].[plantas]    Script Date: 21/12/2018 5:46:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[plantas](
	[codplanta] [int] IDENTITY(1,1) NOT NULL,
	[agenteplanta] [char](4) NULL,
	[nitplanta] [varchar](20) NULL,
	[nameplanta] [varchar](40) NULL,
	[ciudmciapl] [char](8) NULL,
	[contacmciapl] [varchar](30) NULL,
	[dirmciapl] [varchar](70) NULL,
	[telfmciapl] [varchar](7) NULL,
	[recepmciahasta] [char](9) NULL,
	[diasestillegmcia] [char](2) NULL,
	[condicdespmcia] [varchar](150) NULL,
	[emailmcia] [varchar](50) NULL,
	[fechlimrecfact] [varchar](2) NULL,
	[diasestillegfact] [char](2) NULL,
	[despfactconmcia] [char](1) NULL,
	[obligoc] [char](1) NULL,
	[mcipiofactpl] [char](8) NULL,
	[dirfactpl] [varchar](70) NULL,
	[docsadicradfact] [varchar](150) NULL,
	[condicadicradfac] [varchar](150) NULL,
	[emailfact] [varchar](50) NULL,
	[contacfact] [varchar](30) NULL,
	[teleffact] [varchar](7) NULL,
	[celufact] [varchar](10) NULL,
	[contacteso] [varchar](30) NULL,
	[mcipioteso] [char](8) NULL,
	[dirteso] [varchar](70) NULL,
	[telefteso] [varchar](7) NULL,
	[celuteso] [varchar](10) NULL,
	[emailteso] [varchar](50) NULL,
 CONSTRAINT [PK_plantas] PRIMARY KEY CLUSTERED 
(
	[codplanta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[plantas] ON 

GO
SET IDENTITY_INSERT [dbo].[plantas] OFF
